
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/components/jquery/dist/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
