<% include header %>

  <h1><%-title %></h1>
  <section>
    <form action="/routeCreate" method="post">
      <div class="form-group">
        <label>Driver</label>
        <input type="text" class="form-control" name="driver"/>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name"/>
      </div>
      <div class="form-group">
        <label>Location Start</label>
        <input type="text" class="form-control" name="startLocation"/>
      </div>
      <div class="form-group">
        <label>Location End</label>
        <input type="text" class="form-control" name="endLocation"/>
      </div>
      <div class="form-group">
        <label>Over Max Speed</label>
        <input type="text" class="form-control" name="overMaxSpeed"/>
      </div>
      <div class="form-group">
        <label>Sudden Brake</label>
        <input type="text" class="form-control" name="suddenBrake"/>
      </div>
      <div class="form-group">
        <label>Sudden Acceleration</label>
        <input type="text" class="form-control" name="suddenAcceleration"/>
      </div>
      <div class="form-group">
        <label>Sudden Turn</label>
        <input type="text" class="form-control" name="suddenTurn"/>
      </div>
      <div class="form-group">
        <label>High RPM</label>
        <input type="text" class="form-control" name="highRpm"/>
      </div>
      <div class="form-group">
        <label>Low RPM</label>
        <input type="text" class="form-control" name="lowRpm"/>
      </div>
      <div class="form-group">
        <label>Max Speed</label>
        <input type="text" class="form-control" name="maxSpeed"/>
      </div>
      <div class="form-group">
        <label>Max Acceleration</label>
        <input type="text" class="form-control" name="maxAcceleration"/>
      </div>
      <button type="submit" class="btn btn-default">Save route</button>
    </form>
  </section>

  <section>
    <h2>Routes List</h2>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Driver</th>
        <th>Start Location</th>
        <th>End Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Score</th>
        <th>Actions</th>
      </tr>
      <% for(var i = 0; i < routes.length; i++) {%>
      <tr>
        <td><%= routes[i].name %></td>
        <td><%= routes[i].driver.name.full %></td>
        <td><%= routes[i].location.start %></td>
        <td><%= routes[i].location.end %></td>
        <td><%= routes[i].date.start %></td>
        <td><%= routes[i].date.end %></td>
        <td><%= routes[i].score %></td>
        <td>
          <form action="/routeDelete" method="post">
            <input type="hidden" name="id" value="<%= routes[i]._id %>">
            <button type="submit" class="btn btn-default" title="Delete route">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </section>

<% include footer %>
