<% include header %>

  <h1><%-title %></h1>

  <section>
    <form action="/userCreate" method="post">
      <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" name="firstName"/>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" name="lastName"/>
      </div>
      <div class="form-group">
        <label>Login</label>
        <input type="text" class="form-control" name="login"/>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password"/>
      </div>
      <button type="submit" class="btn btn-default">Save user</button>
    </form>
  </section>

  <section>
    <h2>Users List</h2>

    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
      <% for(var i = 0; i < users.length; i++) {%>
      <tr>
        <td><%= users[i]._id %></td>
        <td><%= users[i].name.full %></td>
        <td>
          <form action="/userDelete" method="post">
            <input type="hidden" name="id" value="<%= users[i]._id %>">
            <button type="submit" class="btn btn-default" title="Delete user">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </section>

<% include footer %>
